div(data-role="page")
    div(data-role="header" data-position="inline")
        h1 Simple Scheduler

    div(id="devices" data-role="content")
        | Login with your Telldus Live! account by pressing the login button below
        a(href="/login" data-role="button" data-ajax="false") Login
