-@ val body: String

!!! 5
html(lang="en")
  head
    title Home!

    meta(name="viewport" content="width=device-width, initial-scale=1")

    script(type="text/javascript" src="/static/jquery-1.7.1.min.js")
    script(type="text/javascript" src="/static/jquery.mobile-1.0.min.js")

    script(type="text/javascript" src="/static/gentleSelect/jquery-gentleSelect.js")
    script(type="text/javascript" src="/static/cron/jquery-cron.js")

    link(type="text/css" href="/static/jquery.mobile-1.0.min.css" rel="stylesheet")
    link(type="text/css" href="/static/gentleSelect/jquery-gentleSelect.css" rel="stylesheet")
    link(type="text/css" href="/static/cron/jquery-cron.css" rel="stylesheet")

    link(type="text/css" href="/static/style.css" rel="stylesheet")

  body
    != body
